<% var data='viewData' %>
<% include partials/header %>


    <img src="https://nestjs.com/img/logo-small.svg" width="120">
  <h4>



	<%= viewData.indexViewState %>

  </h4>
  


<% include partials/footer %>